$breakpoints: (
  "xs": $breakpoint-xs,
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-lg,
  "xxl": $breakpoint-xxl,
);

@mixin container($max-width: 1200px, $padding: 16px) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $padding;

  @include respond-to("xl") {
    padding: 0 $padding * 1.5;
  }

  @include respond-to("lg") {
    padding: 0 $padding * 1.25;
  }

  @include respond-to("md") {
    padding: 0 $padding * 0.75;
  }

  @include respond-to("sm") {
    padding: 0 $padding * 0.5;
  }
}

@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
